@model IEnumerable<ShopItemsModel>
<h2>Items by category</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ShortDescription</th>
            <th>LongDescription</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shopItemsModel in Model)
        {
            <tr>
                <td>@shopItemsModel.Id</td>
                <td>@shopItemsModel.Name</td>
                <td>@shopItemsModel.ShortDescription</td>
                <td>@shopItemsModel.LongDescription</td>
                <td>@shopItemsModel.Price</td>
                <td><a class="btn btn-primary" asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-shopItemId="@shopItemsModel.Id">Add to Cart</a></td>
            </tr>
        }
    </tbody>
</table>