@model IEnumerable<ShopItemModel>
<h2>Items by category</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ShortDescription</th>
            <th>LongDescription</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shopItemModel in Model)
        {
            <tr>
                <td>@shopItemModel.Id</td>
                <td>@shopItemModel.Name</td>
                <td>@shopItemModel.ShortDescription</td>
                <td>@shopItemModel.LongDescription</td>
                <td>@shopItemModel.Price.ToString("C")</td>
                <td><a class="btn btn-primary" asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-shopItemId="@shopItemModel.Id">Add to Cart</a></td>
            </tr>
        }
    </tbody>
</table>